# Copiez ce fichier en ".env" et remplissez les valeurs (ne jamais committer le .env réel)
TELEGRAM_BOT_TOKEN=8974718574:AAFCwmiQD4RQ4DrMKf5-w-oKIlF4k_3gNuU
TELEGRAM_CHAT_ID=6714213634

TICKET_URL=https://www.fanpass.fr/billets-psg-paris-saint-germain-vs-fc-barcelona-champions-league-2026-2027
MAX_PRICE=250
MIN_QUANTITY=2
